.bg-customPrimary {
  background-color: $custom-primary1;
}
.bg-customSecondary {
  background-color: $custom-secondary1;
}
.bg-customTertiary {
  background-color: $custom-tertiary1;
}
.bg-customFourth {
  background-color: $custom-fourth1;
}
.bg-customFifth {
  background-color: $custom-fifth1;
}
.bg-white {
  background-color: white;
}
