// 2018 palettes
$custom-orange2018: #ff7b25;
$custom-red2018: #d64161;
$custom-yellow2018: #feb236;
$custom-violet2018: #6b5b95;

// Beach palettes
$custom-greenBeach: #588c7e;
$custom-yellowBeach: #f2e394;
$custom-orangeBeach: #f2ae72;
$custom-redBeach: #d96459;

//color Palettes
$custom-primary1: #f8f1e5;
$custom-secondary1: #2f3131;
$custom-tertiary1: #f9ba32;
$custom-fourth1: #426e86;
$custom-fifth1: #f0810f;
