.text-customPrimary {
  color: $custom-primary1;
}
.text-customSecondary {
  color: $custom-secondary1;
}
.text-customTertiary {
  color: $custom-tertiary1;
}
.text-customFourth {
  color: $custom-fourth1;
}
.text-customFifth {
  color: $custom-fifth1;
}
